body {
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
   } 
   .Home h2 {
    color: pink;
    font-size: 24px

   }
   h3 {
    font-size: 24px;
        font-weight: 200;
        margin-bottom: 0px; 
        margin-top: 0px;
        padding: 0px 0px;
        text-align: center;
   }
    
   body{
    background-image: url('backimg.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    text-decoration: none;
     }

   header {
    background: black;
    color: white;
    padding: 0%;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    opacity: 0.65;
    justify-content: space-between;
    animation: slideDown 0.75s ease-in-out;
    position: relative;
   }
   header h2 {
    opacity: 1;
   }

   

.main {
    opacity: 0.9;
    margin: 2.5% 5%;
    margin-bottom: 0%;
    position: relative;
    text-align: center;
    animation: fadeIn 3s;
    
}
.title {
    font-size: 48px;
    font-weight: 500;
    color: white;
    text-shadow: 2px 2px 2px black;
    opacity: 0.9;
    padding: 2.5% 10%
}


div.info {   
    background: rgba(0, 0, 0, 0.293);
    color: white;
    margin: 0px 350px;
    margin-bottom: 30px;
    padding: 20px 30px;
    border-radius: 20px;  
    animation: fadeIn 2s;
    box-shadow: grey 0 0 10px;
    border: 1px solid white;
}

    .heading { 
        font-size: 24px;
        font-weight: 200;
        margin-bottom: 0px; 
        margin-top: 0px;
        padding: 0px 0px;
        text-align: center;
    }
    
    .description { 
        text-align: left;
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px;

    }
    div.info table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 0px;
        text-align: center;
        border: 3px solid black;
        animation: fadeIn 2s;

    }
    
    div.info th, div.info td {
        text-align: center;    
        padding: 5px 20px;  
        border-bottom: 1px solid black;
        width: 50%;
    }
    
    
    div.info th {
        font-weight: bold;
    }
    div.info th:first-child, div.info td:first-child {
        border-right: 1px solid black; 
    }
    .images {
        padding: 20px;
        display: flex;
        flex-direction: row;
        color: white;
        text-align: center;
        animation: fadeIn 2s;
        justify-content: center;
    

    }
    .images figcaption {
        background: rgba(0, 0, 0, 0.293);
        margin: 0px 140px;
        border-radius: 10px;

    }
    .images figure img {
        border-radius: 20px;
        box-shadow: grey 0 0 10px;
        border: 1px solid white;
    }

    .images-ref {
        padding: 0px;
        display: flex;
        flex-direction: row;
        color: white;
        text-align: center;
        animation: fadeIn 2s;
        justify-content: center;
        margin: 0px;
    

    }
    .images-ref figcaption {
        background: rgba(0, 0, 0, 0.293);
        margin: 5px 140px;
        border-radius: 10px;
        padding: 3px;
    }

    .images-ref figure img {
            border-radius: 10px;
            box-shadow: grey 0 0 10px;
            border: 1px solid white;
        }

    .images-second {
        padding: 20px;
        display: flex;
        flex-direction: row;
        color: white;
        text-align: center;
        animation: fadeIn 2s;
        justify-content: center;
        
    }
    .images-second figure img {
        border-radius: 50%;
        box-shadow: grey 0 0 10px;
        border: 1px solid white;
        width: 400px;
    }

   footer { 
    background: black;
    color: white;
    padding: 20px;
    margin: 1% 0%;
    opacity: 0.65;
    margin-bottom: 0px;
    display: flex;   
    justify-content: space-between;
    align-items: center; 
    animation: fadeIn 2s;
   }

   footer .copyright {
    padding-left: 1%;
}

   ul {
    list-style: none;
    
   }
   li {
    display: inline-block;
    margin-left: auto;
}
li a {
    text-decoration: none; 
    color: white;
    padding: 8px 12px;
    border-radius: 20px; 
    transition: background-color 0.3s ease; 
    text-align: center;
    display: inline-block;
}
li a:hover {
    background-color: darkgray;
    color: black;
}
li a.active, 
li a.active:hover { 
    background-color: white;
    color: black;
}


@keyframes slideDown{
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 0.65;
    }}
@keyframes fadeIn {
    0% { opacity: 0; }  
    100% { opacity: 1; }
}
@media (max-width: 600px) {
  .Home h2   {
        font-size: 130%;
    }
    header ul li a {
        font-size: 70%; 
    } 
    .title { font-size: 125%}
}


